# Dependencies
node_modules
.pnpm-store

# Build output
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Docker
Dockerfile
Dockerfile.prod
docker-compose.yml
docker-compose.prod.yml
.dockerignore

# Documentation
README.md
LICENSE
docs

# Misc
.DS_Store
Thumbs.db
*.md
*.dmp
